@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-family: Tahoma, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Windows XP Custom Styles */
.desktop-container {
  width: 100vw;
  height: 100vh;
  background-image: url('https://upload.wikimedia.org/wikipedia/en/7/7d/Bliss_%28Windows_XP%29.png');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
